BasedOnStyle: LLVM
AccessModifierOffset: 0
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
ContinuationIndentWidth: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
IndentWidth: 2
IndentWrappedFunctionNames: false
MaxEmptyLinesToKeep: 1
SortIncludes: true
SortUsingDeclarations: true
SpacesInContainerLiterals: false
