bin/
*.o
program
*.dblite
.vscode/
okapilib-template.zip
.clang/
*.gch
compile_commands.json
cquery_log.txt
okapilib@*.zip
.DS_store
.cproject
.idea/
.project
.settings/
cmake-build-debug/
html/
latex/
xml/
venv/
*.d/
build/
src/squiggles/
include/okapi/squiggles/
verify-template/
.cache/
